.addedOptionsInModal {
  max-height: 150px;
  overflow: scroll;
  overflow-x: hidden;
}

.height-md {
  height: 35px;
}

.height-sm {
  height: 20px;
  padding: 0;
}

.error {
  color: red !important;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;
}